main{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.mycard{
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
